.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:rgb(82, 82, 82) 5px 5px 5px;
}

.note
{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

canvas
{
    border: rgb(0, 0, 0);
    border-width: 2;
    border-style: solid;
    box-shadow: rgb(82, 82, 82) 5px 5px 5px;
}

.footer_div
{
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 3;
    background-color: gray;
    bottom: 0;
    position: fixed;
}

